# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Jupyter Notebook

**Objectives:**

* List popular languages for Data Science
* Describe how to use Jupyter Notebook with markdown and code cells
* Describe the use of Github and shareing of Jupyter notebook publicly

## Author

ENOMFON ESEME UDOUROM

Some of the commonly used libraries used by Data Scientists include:

1. ggplot2
2. Pandas
3. NumPy

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

mins = 200
hrs = 200 / 60
print(hrs)

3.3333333333333335